@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  vertical-align: middle;
}

.glass-nav {
  background: rgba(249, 249, 250, 0.8);
  backdrop-filter: blur(20px);
}

.text-gradient {
  background: linear-gradient(135deg, #2e5f9c 0%, #83b0f2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-primary {
  background: linear-gradient(135deg, #2e5f9c 0%, #83b0f2 100%);
}
